@model List<WebAppActividadesApoyo.Areas.Actividades.Models.cat_actividades>

@{
    ViewData["Title"] = "FicViCatActividadesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FicViCatActividadesList</h2>

<p>
   <a href="Actividades/CatActividades/FicViCatActividadesCreate">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IdActividad
            </th>
            <th>
                DesActividad
            </th>
            <th>
                Detalle
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
    
            <td>
                @Html.ActionLink("Editar", "FicViCatActividadesUpdate", new { IdActividad = item.IdActividad})
                @Html.ActionLink("Detalle", "FicViCatActividadesDetail", new { IdActividad = item.IdActividad }) |
                @Html.ActionLink("Eliminar", "FicDelete", new { IdActividad = item.IdActividad })
            </td>
        </tr>
}
    </tbody>
</table>
