@model IEnumerable<WebAppActividadesApoyo.Areas.Actividades.Models.cat_actividades>

@{
    ViewData["Title"] = "FicViCatActividadesList";
}

<h2>FicViCatActividadesList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesActividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltMod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesActividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltMod)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
